# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/build/premake5.exe
/build/premake5.lua
/build/copy_premake5_lua.bat
/build/.vs
/build/obj
/build/bin
/build/luapb.VC.db
/build/luapb.VC.VC.opendb
/test/*.dll
/test/*.exe
